body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

}


header {
    text-align: center;
    margin-bottom: 10px;
    background-color: #93BDFE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}
.draggable {
cursor: grab;
}

.title {
    font-size: 3em;
    font-weight: bolder;
    color: #fff;
}

.noteArgument {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#titleArgument {
    width: 80vw;
    height: 5vh;
    margin-bottom: 5px;
    border-radius: 5px;
}

#textArgument {
    width: 100%;
    height: 20vh;
    padding: 5px;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

button {
    height: 5.5vh;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#crayon {

    height: 5.5vh; 
    width: auto; 

}

.sections {
    display: flex;
}

.section {
    flex: 1;
    background-color: #fff;
    border-right: 1px solid #ccc;
    height: 60vh;
    text-align: center;
}

.task{
    position: relative;
    margin: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.task button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white; /* Couleur du texte du bouton */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px; /* Pour rendre le bouton circulaire */
    height: 30px;
  }


@media (max-width: 768px) {
    .sections {
        flex-direction: column;
    }

    .section {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
}